body{
    background-color: black;
    color: white;    
}
#pick{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;  
    position: relative;
    left: 320px;  
}
#guess{
    position: relative;
    left: 320px;
    font-size: 18px;
      
}
#enter{
    position: relative;
    left: 320px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;  
}
#submit{
    position: relative;
    left: 320px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 18px;  
}

h1{
    border: 1px solid;
    font-size: 30px;  
    border-bottom-style: solid;
    width: 400px;
    text-align: center; 
    text-shadow: 0px -5px 5px red, 0px 2px 2px yellow; 
    background-color: black; 
    position: relative;
    left: 280px;

    animation: clockAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes clockAnimation{
    50% {transform: scale(0.5,0.5);}
}



